/**
  * file:       search-panel.css
  * author:     Grant Wilk
  * created:    April 16, 2020
  * brief:      contains styling for the GUI's search panel
 */

/* Search Panel */
.search-panel {
    -fx-padding: 20;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #D0D0D0;
}

/* Search Field */
.search-field {
    -fx-font-size: 15px;
    -fx-prompt-text-fill: #909090;
    -fx-padding: 0 0 0 12;
    -fx-background-color: white;
    -fx-background-radius: 0 20 20 0;
    -fx-border-radius: 0 20 20 0;
    -fx-border-width: 2 2 2 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 5, 0, 1, 2);
}

/* Search Type Selector */
.search-type-selector {
    -fx-background-color: #D0D0D0;
    -fx-background-radius: 20 0 0 20;
    -fx-border-radius: 20 0 0 20;
    -fx-border-color: #A0A0A0;
    -fx-border-width: 2;
    -fx-padding: 1 0 0 5;
    -fx-text-alignment: right;
}

.search-type-selector .label {
    -fx-text-fill: #7A7A7A;
    -fx-alignment: center;
}

.choice-box .arrow, .combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}