/**
  * file:       selected-element-panel.css
  * author:     Grant Wilk
  * created:    April 16, 2020
  * brief:      contains styling for the GUI's selected element panel and its subcomponents
 */

/* Selected Element Panel */
.selected-element-panel {
    -fx-padding: 20;
    -fx-border-width: 0 0 1 0;
    -fx-border-style: solid;
    -fx-border-color: #D0D0D0;
}

/* Selected Element Tile */
.selected-element-panel #tile {
    -fx-background-color: white;
    -fx-background-radius: 7;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, 0, 3, 3);
}

/* Element Color */
.selected-element-panel #element-color {
    -fx-background-color: #C0C0C0;
    -fx-background-radius: 7 0 0 7;
}

/* Info Container */
.selected-element-panel #element-info {
    -fx-padding: 15 20 15 20;
}

/* Title Container */
.selected-element-panel #title-container {

}

/* Title Elements */
.selected-element-panel #element-title {
    -fx-text-fill: #404040;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 -4 0;
}

.selected-element-panel #element-subtitle {
    -fx-text-fill: #909090;
}

.selected-element-panel #title-separator {
    -fx-stroke: #D0D0D0;
    -fx-stroke-width: 1px;
}

/* Attribute Container */
.selected-element-panel #attribute-container{
    -fx-padding: 12 0 0 0;
    -fx-spacing: 5;
}

.selected-element-panel #attribute {
    -fx-spacing: -1;
}

/* Attribute Elements */
.selected-element-panel #attribute-title {
    -fx-text-fill: #404040;
}

.selected-element-panel #attribute-value {
    -fx-text-fill: #909090;
}
