.associations-tile {
    -fx-background-color: white;
    -fx-background-radius: 7;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 8, 0, 3, 3);
    -fx-cursor: hand;
}

.associations-tile #color {
    -fx-background-color: #C0C0C0;
    -fx-background-radius: 7 0 0 7;
}

.associations-tile #info-container {
    -fx-padding: 15;
    -fx-spacing: -1;
}

.associations-tile #title {
    -fx-text-fill: #404040;
}

.associations-tile #subtitle {
    -fx-text-fill: #909090;
}

.associations-tile:pressed,
.associations-tile:pressed #color {
    -fx-background-color: #4C8BF5;
}

.associations-tile:pressed #title,
.associations-tile:pressed #subtitle {
    -fx-text-fill: white;
}