.select-dialog-root {
    -fx-padding: 20;
}

.switch-container {
    -fx-spacing: 10;
}

.switch-buttons-container {
    -fx-spacing: 5;
}

.element-container .scroll-bar:horizontal .increment-arrow,
.element-container .scroll-bar:horizontal .decrement-arrow,
.element-container .scroll-bar:horizontal .increment-button,
.element-container .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.apply-button-container {
    -fx-padding: 20 0 0 0;
    -fx-spacing: 10;
}
